<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.th58.mapper.SalaryMapper">
    <select id="selectByPrimaryKey" resultType="salary">
      select * from salary where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="int">
        delete from salary where id = #{id}
    </delete>
</mapper>